{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}
{% block h1_title %}<h1>Hotel - выбор комнаты</h1>{% endblock %}
{% block main %}
    <div class="aside"></div>
    <aside>
        <form action="{% url 'home' %}" method="get">
            {% csrf_token %}
            <h3>Фильтровать по:</h3>
            <h4>Цене:</h4>
            <label for="price_filter_from">От: <span id="price_value"></span></label>
            <input type="text" id="price_filter_from" name="price_filter_from" min="1000" max="100000"
                   placeholder="1000">
            <label for="price_filter_to">До: <span id="price_value"></span></label>
            <input type="text" id="price_filter_to" name="price_filter_to" min="1000" max="100000"
                   placeholder="100000"><br>
            <h4>Количеству комнат:</h4>
            <div>
                <input type="checkbox" id="cap-1" name="cap" value="1">
                <label for="cap-1"> 1 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-2" name="cap" value="2">
                <label for="cap-2"> 2 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-3" name="cap" value="3">
                <label for="cap-3"> 3 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-4" name="cap" value="4">
                <label for="cap-4"> 4+ </label>
            </div>

            <button type="submit">Применить</button>
        </form>
        <form action="{% url 'home' %}" method="get">
            <label for="sort">Сортировать по:</label>
            <select id="sort" name="sort" class="form-control">
                <option value="price">Цене</option>
                <option value="-price">Цене (по убыванию)</option>
                <option value="capacity">Количеству комнат</option>
                <option value="-capacity">Количеству комнат (по убыванию)</option>
            </select>
            <button type="submit">Применить</button>
        </form>
    </aside>


    {% if num_rooms == 0 %}
        <p>Комнат нет</p>
    {% else %}

        {% for room in rooms %}
            <div class="room-blocks">
                <div class="room-block">
                    <h3>Комната №{{ room.number }}</h3>
                    <h4>Количество мест: {{ room.capacity }}</h4>
                    <h4>Цена: {{ room.price }} рублей/сутки</h4>
                    <p>{{ room.description }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
    <script>
        const priceFilter = document.getElementById('price_filter'); // Получаем элемент input
        const priceValue = document.getElementById('price_value'); // Получаем элемент span

        priceFilter.addEventListener('input', () => { // Добавляем обработчик события input
            priceValue.textContent = priceFilter.value; // Обновляем значение span
        });
    </script>
{% endblock %}