{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}
{% block h1_title %}<h1>Hotel - выбор комнаты</h1>{% endblock %}
{% block main %}
    <div class="aside"></div>
    <aside>
        <form action="{% url 'home' %}" method="get">
            {% csrf_token %}
            <h3>Фильтровать по:</h3>
            <h4>Цене:</h4>
            <label for="price_filter_from">От: <span id="price_value"></span></label>
            {% if from %}
                <input type="text" id="price_filter_from" name="price_filter_from" min="1000" max="100000"
                       value="{{ from }}" placeholder="1000" pattern="\d+">
            {% else %}
                <input type="text" id="price_filter_from" name="price_filter_from" min="1000" max="100000"
                       placeholder="1000" pattern="\d+">
            {% endif %}
            <label for="price_filter_to">До: <span id="price_value"></span></label>
            {% if to %}
                <input type="text" id="price_filter_to" name="price_filter_to" min="1000" max="100000"
                       value="{{ to }}" placeholder="100000" pattern="\d+"><br>
            {% else %}
                <input type="text" id="price_filter_to" name="price_filter_to" min="1000" max="100000"
                       placeholder="100000" pattern="\d+"><br>
            {% endif %}
            <h4>Количеству комнат:</h4>
            <div>
                <input type="checkbox" id="cap-1" name="cap" value="1" class="checkbox">
                <label for="cap-1"> 1 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-2" name="cap" value="2" class="checkbox">
                <label for="cap-2"> 2 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-3" name="cap" value="3" class="checkbox">
                <label for="cap-3"> 3 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-4" name="cap" value="4" class="checkbox">
                <label for="cap-4"> 4+ </label>
            </div>

            <button type="submit">Применить</button>
        </form>
        <form action="{% url 'home' %}" method="get">
            <label for="sort">Сортировать по:</label>
            <select id="sort" name="sort" class="form-control">
                <option value="price">Цене</option>
                <option value="-price">Цене (по убыванию)</option>
                <option value="capacity">Количеству комнат</option>
                <option value="-capacity">Количеству комнат (по убыванию)</option>
            </select>
            <button type="submit">Применить</button>
        </form>
    {% if request.user.is_authenticate %}
        <h1>{{ request.user.username }}</h1>
        {% else %}
        <h1>NOT AUTH</h1>
    {% endif %}
    </aside>

    {% if num_rooms == 0 %}
        <p>Комнат нет</p>
    {% else %}
        {% for room in rooms %}
            <div class="room-blocks">
                <div class="room-block">
                    <h3>Комната №{{ room.number }}</h3>
                    <h4>Количество мест: {{ room.capacity }}</h4>
                    <h4>Цена: {{ room.price }} рублей/сутки</h4>
                    <p>{{ room.description }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
    <script>
    // Функция для сохранения состояния чекбоксов в localStorage
    function saveCheckboxes() {
        const checkboxes = document.querySelectorAll('.checkbox');
        const values = [];
        for (let i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                values.push(checkboxes[i].value);
            }
        }
        localStorage.setItem('checkboxes', JSON.stringify(values));
    }

    // Функция для восстановления состояния чекбоксов из localStorage
    function restoreCheckboxes() {
        const values = JSON.parse(localStorage.getItem('checkboxes'));
        if (values) {
            for (let i = 0; i < values.length; i++) {
                const checkbox = document.querySelector(`.checkbox[value="${values[i]}"]`);
                if (checkbox) {
                    checkbox.checked = true;
                }
            }
        }
    }

    // Сохраняем состояние чекбоксов при изменении состояния
    const checkboxes = document.querySelectorAll('.checkbox');
    for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', saveCheckboxes);
    }

    // Восстанавливаем состояние чекбоксов при загрузке страницы
    restoreCheckboxes();
</script>

{% endblock %}