{% extends 'base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
{% endblock %}
{% block h1_title %}{% endblock %}
{% block main %}
    <aside class="filter">
        <form action="{% url 'home' %}" method="get">
            {% csrf_token %}
            <h3>Фильтровать по:</h3>
            <h4>Цене:</h4>
            <label for="price_filter_from">От: <span id="price_value"></span></label>
            {% if from %}
                <input type="text" id="price_filter_from" name="price_filter_from" min="1000" max="100000"
                       value="{{ from }}" placeholder="1000" pattern="\d+">
            {% else %}
                <input type="text" id="price_filter_from" name="price_filter_from" min="1000" max="100000"
                       placeholder="1000" pattern="\d+">
            {% endif %}
            <label for="price_filter_to">До: <span id="price_value"></span></label>
            {% if to %}
                <input type="text" id="price_filter_to" name="price_filter_to" min="1000" max="100000"
                       value="{{ to }}" placeholder="100000" pattern="\d+"><br>
            {% else %}
                <input type="text" id="price_filter_to" name="price_filter_to" min="1000" max="100000"
                       placeholder="100000" pattern="\d+"><br>
            {% endif %}
            <h4>Количеству комнат:</h4>
            <div>
                <input type="checkbox" id="cap-1" name="cap" value="1" class="checkbox">
                <label for="cap-1"> 1 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-2" name="cap" value="2" class="checkbox">
                <label for="cap-2"> 2 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-3" name="cap" value="3" class="checkbox">
                <label for="cap-3"> 3 </label>
            </div>
            <div>
                <input type="checkbox" id="cap-4" name="cap" value="4" class="checkbox">
                <label for="cap-4"> 4+ </label>
            </div>

            <button type="submit">Применить</button>
        </form>
        <form action="{% url 'home' %}" method="get">
            <label for="filter-select">Сортировать по:</label>
            <select id="filter-select" name="sort" class="form-control">
                <option value="price">Цене</option>
                <option value="-price">Цене (по убыванию)</option>
                <option value="capacity">Количеству комнат</option>
                <option value="-capacity">Количеству комнат (по убыванию)</option>
            </select>
            <button type="submit">Применить</button>
        </form>
    </aside>
    <div class="class-date">
        {% if not request.user.is_authenticated %}

        {% endif %}
        <form action="{% url 'home' %}" method="get" class="form-date">
            {% csrf_token %}
            <div>
                <label for="date_from"></label>
                <input type="date" id="date_from" name="date_from" required>
            </div>
            <div>
                <label for="date_to"></label>
                <input type="date" id="date_to" name="date_to" required>
            </div>
            <button type="submit">Найти</button>
        </form>
    <div class="p-info">
                <p>Для бронирования комнат необходимо авторизироваться</p>
            </div>
    </div>
    {% if date %}
        <div class="p-date">
            <h3>{{ date }}</h3>
        </div>
    {% elif num_rooms == 0 %}
        <h1>Комнат нет</h1>
    {% else %}
        {% for room in rooms %}
            <div class="room-blocks">
                <div class="room-block">
                    <h3>Комната {{ room.number }}</h3>
                    <h4>Количество мест: {{ room.capacity }}</h4>
                    <h4>Цена: {{ room.price }} рублей/сутки</h4>
                    <p>{{ room.description }}</p>
                    {% if request.user.is_authenticated %}
                        <form action="booking/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="number_room" value="{{ room.number }}">
                            <label for="date_from"></label>
                            <input type="date" id="date_from" name="date_from" required>
                            <label for="date_to"></label>
                            <input type="date" id="date_to" name="date_to" required>
                            <button type="submit">Забронировать</button>
                            <br>
                        </form>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
    <script>
        // Функция для сохранения состояния чекбоксов в localStorage
        function saveCheckboxes() {
            const checkboxes = document.querySelectorAll('.checkbox');
            const values = [];
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    values.push(checkboxes[i].value);
                }
            }
            localStorage.setItem('checkboxes', JSON.stringify(values));
        }

        // Функция для восстановления состояния чекбоксов из localStorage
        function restoreCheckboxes() {
            const values = JSON.parse(localStorage.getItem('checkboxes'));
            if (values) {
                for (let i = 0; i < values.length; i++) {
                    const checkbox = document.querySelector(`.checkbox[value="${values[i]}"]`);
                    if (checkbox) {
                        checkbox.checked = true;
                    }
                }
            }
        }

        // Сохраняем состояние чекбоксов при изменении состояния
        const checkboxes = document.querySelectorAll('.checkbox');
        for (let i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', saveCheckboxes);
        }

        // Восстанавливаем состояние чекбоксов при загрузке страницы
        restoreCheckboxes();

        const dateFromInputs = document.querySelectorAll('[id^="date_from"]');
        const dateToInputs = document.querySelectorAll('[id^="date_to"]');

        dateFromInputs.forEach((dateFrom, i) => {
            const dateTo = dateToInputs[i];

            // Установка минимальной даты для поля date_from
            dateFrom.min = new Date().toISOString().split('T')[0];

            // Обработчик события change для поля date_from
            dateFrom.addEventListener('change', () => {
                // Установка минимальной даты для поля date_to
                dateTo.min = new Date(dateFrom.valueAsNumber + 86400000).toISOString().split('T')[0];
            });
        });

        // Получаем элемент select с выбором параметра фильтрации
        const filterSelect = document.getElementById('filter-select');

        // Обработчик изменения выбранного параметра фильтрации
        filterSelect.addEventListener('change', (event) => {
            // Сохраняем выбранный параметр в localStorage
            localStorage.setItem('selectedFilter', event.target.value);
        });

        // Устанавливаем выбранный параметр при загрузке страницы
        const selectedFilter = localStorage.getItem('selectedFilter');
        if (selectedFilter) {
            filterSelect.value = selectedFilter;
        }

        const dateFrom = document.querySelector('#date_from');
        const dateTo = document.querySelector('#date_to');

        // Проверяем, есть ли значения в localStorage
        if (localStorage.getItem('date_from')) {
            dateFrom.value = localStorage.getItem('date_from');
        }
        if (localStorage.getItem('date_to')) {
            dateTo.value = localStorage.getItem('date_to');
        }

        // Сохраняем значения в localStorage при изменении
        dateFrom.addEventListener('change', () => {
            localStorage.setItem('date_from', dateFrom.value);
        });
        dateTo.addEventListener('change', () => {
            localStorage.setItem('date_to', dateTo.value);
        });

    </script>
{% endblock %}