.filter {
    position: fixed; /* Делаем меню фиксированным */
    top: 100px;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: #f1f1f1;
    padding: 20px;
}

h3 {
    font-size: 20px;
    font-weight: bold;

}

form {
    margin-bottom: 20px;
    width: 200px;
    border: none;
    box-shadow: none;
    background: whitesmoke;
}

label {
    display: inline-block;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#sort {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#sort option {
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

#sort option[value="-number"]:hover,
#sort option[value="-price"]:hover {
    font-weight: bold;
}

input[type='checkbox'] + label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

div {
    display: inline-block;
    margin-right: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type='checkbox'] + label:before {
    content: "\2714";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #fff;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:before {
    content: "\2713";
    background-color: #007bff;
    border-color: #007bff;
}

.room-blocks {
    display: flex;
    justify-content: center;
    align-items: center;

}

.room-block {
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 20px;
    max-width: 600px; /* опционально, чтобы ограничить ширину блока */
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-date {
    display: flex;
    margin-top: 20px;
    position: center;
    width: 400px;
    height: 60px;
    padding: 10px;

}

.rooms {
  margin: 0 auto; /* устанавливаем автоматические отступы сверху и снизу, и центруем контейнер по горизонтали */
  max-width: 800px; /* устанавливаем максимальную ширину контейнера */
}

.class-date {
    display: flex;
    flex-direction: column;
    right: 0;

}

.p-date {
    margin: 0 40%;
    width: 400px;
}
