{% extends 'base.html' %}
{% block h1_title %}<h1>Авторизация</h1>{% endblock %}
{% block auth %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" pattern="[a-zA-Z0-9_-]{3,16}" required><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" pattern="[a-zA-Z0-9]{8,16}" placeholder="8-16 символов"
               required><br>
        {% if err %}
            <p>{{ err }}</p>
        {% endif %}
        <input type="submit" value="Войти">
        <button type="button" onclick="window.location.href='{% url 'registration' %}'">Регистрация</button>
    </form>
{% endblock %}