{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'login/auth_style.css' %}">
    {% block links %}{% endblock %}
</head>
<header>
    <div class="logo">
        <a href="{% url 'home' %}">Hotel</a>
    </div>
    {% block nav %}
        {% if request.user.is_authenticated %}
            <h2></h2>
            <nav>
                <ul>
                    <li>{{ request.user.username }}</li>
                    <li><a href="{% url 'my_rooms' %}">Мои комнаты</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                </ul>
            </nav>
        {% else %}
            <nav>
                <ul>
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'registration' %}">Зарегистрироваться</a></li>
                </ul>
            </nav>
        {% endif %}
    {% endblock %}
</header>
<body>
{% block h1_title %}{% endblock %}
{% block auth %}{% endblock %}
{% block main %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>